*{
  margin: 0;
}
.app{
  display: flex;
  background-color: #f3f2ef;
  flex-direction: column;
  align-items: center;
}
.app_body{
  display: flex;
  gap: 1rem;
}

.feed__section{
  flex: 0.6;
  margin-top: 1rem;
}
.right_widgets{
  flex: 0.2;
  margin-top: 1rem;

}