.feed__inputContainer{
    background-color: white;
    padding: 10px;
    /* padding-bottom: 24px; */
    border-radius: 10px ;
    margin-bottom: 20px;
}
.feed__input{
    border: 1px solid lightgray;
    border-radius: 30px;
    display: flex;
    padding: 10px;
    color: gray;
    padding-left: 15px;
}
.feed__input > form > input{
    width: 100%;
    outline: none !important;
    border: none!important;
    background: none !important;
}
.feed__input > form > button{
    display: none;
}

.feed__inputOptions{
    display: flex;
    justify-content: space-evenly;
}
.material-icons.imageIcon{
    color: #7205F9 !important;
}